main {
    width: var(--desktop-width);
    height: var(--desktop-width);
    margin: 1rem auto;
    padding: 4rem;
    background-color: var(--grey);
    border: 7px solid var(--grey-light);
    border-radius: 40px;
    transition: box-shadow 1s ease;
}

.blink {
    box-shadow: 0 0 24px 4px var(--pink);
    transition: none;
}

#console {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border: 7px solid var(--grey-light);
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    main {
        width: var(--mobile-width);
        height: var(--mobile-width);
        margin-top: 4rem;
        padding: 10px;
    }

    #console {
        border-radius: 25px;
    }
}
