.col {
    display: flex;
    width: calc(100% / 16);
    transition: box-shadow 1s ease;
}

.off {
    background-color: var(--black);
}

.primary {
    background-color: var(--primary);
}

.primary-dark {
    background-color: var(--primary-dark);
}

.secondary {
    background-color: var(--secondary);
}

.food {
    background-color: var(--food);
}
