footer {
    display: flex;
    justify-content: space-between;
    width: var(--desktop-width);
    margin: 1rem auto;
}

footer img {
    height: 4em;
}

footer a:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    footer {
        width: var(--mobile-width);
    }
}
