* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    font-family: inherit;
}

html {
    --black: #000;
    --black-light: #181818;

    --grey: #222;
    --grey-light: #333;

    --teal: #1BDFEB;
    --teal-dark: #0F8187;

    --pink: #FF87FF;

    --orange: #F78D0C;

    --desktop-width: 85rem;
    --mobile-width: 96vw;

    --dim: 16;

    font-family: "Silkscreen", cursive;
    font-size: 1vmin;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: var(--teal);
    background-color: var(--black-light);
    overflow: hidden;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 8em;
}

h3 {
    font-size: 6em;
}

p {
    font-size: 1em;
}

.btn {
    font-size: 4em;
    background-color: transparent;
    color: var(--teal);
    cursor: pointer;
}

.btn:hover {
    text-shadow: 0 0 10px var(--teal);
}

@media (max-width: 768px) {
    html {
        font-size: 2vw;
    }

    body {
        justify-content: flex-start;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    .btn {
        font-size: 2em;
    }
}
